.Age .spacing{
  margin: 18px 0;
}

.Age .labels{
  font-weight: 600;
  display: flex;
}

.Age .form-control{
  display: flex;
  width: 100%;
  min-height: 25px;
  border-radius: 4px;
}

@media (max-width: 800px){
  .labels{
    font-size: 15px;
  }
}
@media (min-width: 800px){
  .labels{
    font-size: 22px;
  }
}