.Footer{
  text-align: center;
  font-size: 15px;
  padding: 15px 20px;
  background-color: rgba(255, 81, 0, 0.3);
  max-width: 700px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.Footer a{
  font-weight: 900;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.Footer a:link{
  color: #cc6a02;
}

.Footer a:visited{
  color: #F5B915;
}

.Footer a:hover{
  color: #063b6d;
}