.Footer{
  text-align: center;
  font-size: 15px;
  padding: 15px;
}

.Footer a{
  font-weight: 900;
  text-decoration: none;
}

.Footer a:link{
  color: #F36F21;
}

.Footer a:visited{
  color: #B92025;
}