.Header {
  display: block;
  margin: 20px auto;
  background: rgba(185, 32, 37, 0.3);
  max-width: 700px;
  padding: 5px 20px;
  border-radius: 4px;
  font-family: 'Press Start 2P';
}

@media (max-width: 800px){
  h1{
    font-size: 20px;
  }
  h2{
    font-size: 15px;
  }
}