.QuestionTwo .questions{
  font-weight: 600;
}

.QuestionTwo .form-control{
  width: 100%;
  min-height: 25px;
  border-radius: 4px;
}

.QuestionTwo .fire{
  margin: 0 50px;
}

.radio-btn{
  text-align: center;
}